<a href="https://colab.research.google.com/github/Chao-Meng/python-EDA/blob/main/EDA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [23]:
# Exploratory data analysis with Pandas
# In this task you should use Pandas to answer a few questions about the Adult dataset.
# 1. How many men and women (sex feature) are represented in this dataset?
import pandas as pd
csv_file_path = '/content/adult.csv'
data = pd.read_csv(csv_file_path)
data
# sex_count = data['gender'].value_counts()
# sex_count

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [11]:
# 2. What is the average age (age feature) of women?
average_age_women = data[data['gender'] == ' Female']['age'].mean()
average_age_women
# average_age_women = data[data['gender'].str.strip() == 'Female']['age'].mean()

36.85823043357163

In [21]:
# 3. What is the percentage of German citizens (native-country feature)?
german_percentage = (data['native-country'] == ' Germany').mean() * 100
german_percentage
# german_percentage = (data['native-country'] == ' Germany').mean() * 100

# print(f"The percentage of German citizens is: {german_percentage:.2f}%")

0.42074874850281013

In [22]:
# 4. What are the mean and standard deviation of age for those who earn more than
# 50K per year (salary feature) and those who earn less than 50K per year?
# earn_more_50 = data[data['salary'] >' 50,000']['age'].mean()
age_stats_by_income = data.groupby('income')['age'].agg(['mean', 'std'])

print(age_stats_by_income)

             mean        std
income
 <=50K  36.783738  14.020088
 >50K   44.249841  10.519028

In [25]:
# 5. Is it true that people who earn more than 50K have at least a high school
# education? (education – Bachelors, Prof-school, Assoc-acdm, Assoc-voc,
# Masters or Doctorate feature)
# 检查收入超过50K的人是否都至少具有高中教育（假设高中毕业至少需要12年的教育）
# all_have_high_school_education = all(data[data['income'] == '>50K']['educational-num'] >= 12)
# all_have_high_school_education
# 定义至少高中教育水平的学历列表
high_school_or_above = [' Bachelors', ' Prof-school', ' Assoc-acdm', ' Assoc-voc', ' Masters', ' Doctorate']

# 检查收入超过50K的人是否都至少具有高中教育
high_education_high_income = all(data[data['income'] == '>50K']['education'].isin(high_school_or_above))

high_education_high_income

True

In [28]:
# 6. Display age statistics for each race (race feature) and each gender (sex feature).
# Use groupby() and describe(). Find the maximum age of men
# of Amer-Indian-Eskimo race.
# 显示每个种族和性别的年龄统计
age_stats_by_race_gender = data.groupby(['race', 'gender'])['age'].describe()

age_stats_by_race_gender

# 找出美洲印第安-爱斯基摩种族中男性的最大年龄
max_age_amer_indian_eskimo_male = data[(data['race'] == ' Amer-Indian-Eskimo') & (data['gender'] == ' Male')]['age'].max()
max_age_amer_indian_eskimo_male

82

In [29]:
# 7. Among whom is the proportion of those who earn a lot (>50K) greater: married or
# single men (marital-status feature)? Consider as married those who have
# a marital-status starting with Married (Married-civ-spouse, Married-spouse-absent or Married-AF-spouse), the rest are considered bachelors.
# 定义已婚状态
married_statuses = [' Married-civ-spouse', ' Married-spouse-absent', ' Married-AF-spouse']

# 筛选出男性
men = data[data['gender'] == ' Male']

# 计算已婚男性中收入超过50K的比例
married_men_high_income_proportion = (men[men['marital-status'].isin(married_statuses)]['income'] == '>50K').mean()

# 计算单身男性中收入超过50K的比例
single_men_high_income_proportion = (men[~men['marital-status'].isin(married_statuses)]['income'] == '>50K').mean()

print("已婚男性中收入超过50K的比例：", married_men_high_income_proportion)
print("单身男性中收入超过50K的比例：", single_men_high_income_proportion)

已婚男性中收入超过50K的比例： 0.0
单身男性中收入超过50K的比例： 0.0

In [30]:
# 8. What is the maximum number of hours a person works per week (hours-per-week feature)? How many people work such a number of hours, and what is the percentage of those who earn a lot (>50K) among them?
# 找出最大的工作小时数
max_hours_per_week = data['hours-per-week'].max()

# 计算工作这么多小时的人数
people_working_max_hours = data[data['hours-per-week'] == max_hours_per_week]

# 计算在这些人中，收入超过50K的比例
proportion_high_income_max_hours = (people_working_max_hours['income'] == '>50K').mean()

print("最大的工作小时数：", max_hours_per_week)
print("工作最大小时数的人数：", len(people_working_max_hours))
print("在这些人中，收入超过50K的比例：", proportion_high_income_max_hours)

最大的工作小时数： 99
工作最大小时数的人数： 85
在这些人中，收入超过50K的比例： 0.0

In [32]:
# 9. Count the average time of work (hours-per-week) for those who earn a little and a lot (salary) for each country (native-country). What will these be for Japan?
# 根据收入水平分组，然后计算每组的平均工作小时数
average_hours_per_week_by_income = data.groupby('income')['hours-per-week'].mean()

average_hours_per_week_by_income

income
 <=50K    38.840210
 >50K     45.473026
Name: hours-per-week, dtype: float64

In [33]:
# 10. Find out the total number of hours worked and mean salary as per different
# occupations.
# 计算每个职业的总工作小时数
total_hours_per_occupation = data.groupby('occupation')['hours-per-week'].sum()

# 计算每个职业中收入超过50K的比例，作为“平均收入”的近似指标
proportion_high_income_per_occupation = data.groupby('occupation').apply(lambda x: (x['income'] == '>50K').mean())

print(total_hours_per_occupation)
print(proportion_high_income_per_occupation)

occupation
 ?                     58803
 Adm-clerical         141595
 Armed-Forces            366
 Craft-repair         173405
 Exec-managerial      182920
 Farming-fishing       46708
 Handlers-cleaners     51988
 Machine-op-inspct     81593
 Other-service        114342
 Priv-house-serv        4900
 Prof-specialty       175481
 Protective-serv       27823
 Sales                148851
 Tech-support          36593
 Transport-moving      71316
Name: hours-per-week, dtype: int64
occupation
 ?                    0.0
 Adm-clerical         0.0
 Armed-Forces         0.0
 Craft-repair         0.0
 Exec-managerial      0.0
 Farming-fishing      0.0
 Handlers-cleaners    0.0
 Machine-op-inspct    0.0
 Other-service        0.0
 Priv-house-serv      0.0
 Prof-specialty       0.0
 Protective-serv      0.0
 Sales                0.0
 Tech-support         0.0
 Transport-moving     0.0
dtype: float64